#number{
    margin: 5px;
}
#splits{
    margin: 5px;
}
#bttn{
    margin: 5px;

}
#result-container {
    display: flex;
    margin: 10px;
}
.result-box {
    height: 60px;
    width: 50px;
    padding: 20px;
    color: white;
}